#####################################################################################
#                              Database config                                      #
#####################################################################################

# Protocol of the DB to use (mysql for example)
DB_PROTOCOL=mysql

# Name of the user created for MySQL
DB_USER=user

# Password of the user created for MySQL
DB_PASSWORD=supersecretpassword

# Root password of the MySQL database
DB_ROOT_PASSWORD=supersecretrootpassword

# Host name of the MySQL database (refers to our "db" service in docker-compose.yml)
DB_HOST=db

# Port of the MySQL database (default : 3306)
DB_PORT=3306

# Name of the database created for MySQL
DB_DATABASE=mydb

#####################################################################################
#                                Server config                                      #
#####################################################################################

# Network name (this is configured on the server, don't change it)
NETWORK=webproxy

# Email address for Letsencrypt (HTTPS/SSL support)
EMAIL=valid.email@domain.com

# Domain name of your app (replace X below with your group number)
DOMAINS=grpX.p645.hevs.ch

# Domain name for the phpMyAdmin instance (replace X below with your group number)
PHPMYADMINDOMAINS=phpmyadmin.grpX.p645.hevs.ch
