
<div class="row text">
    <h3> Conférence – Mouvement et musique</h3>
    Le lien réciproque entre le mouvement et la musique, du geste corporel à l’expression musicale. Conférence du Dr Philippe Vuadens, Neurologue, Médecin adjoint à la Suva/Sion, chanteur.

    <img class="alignnone wp-image-5330 size-medium" src="https://i0.wp.com/www.chanter.ch/wp/wp-content/uploads/2018/09/affiche_conference_290918_p1.jpg?zoom=2.75&resize=586%2C828" alt="" width="100%" height="" data-recalc-dims="1" />
    <img class="alignnone wp-image-5330 size-medium" src="https://i2.wp.com/www.chanter.ch/wp/wp-content/uploads/2018/09/affiche_conference_290918_p2.jpg?zoom=2.75&resize=586%2C828" alt="" width="100%" height="" data-recalc-dims="1" />
</div>