
    <div class="row text">
      <h3> Plan général de formation 2018-2019</h3>
        Voici le programme de formation pour la saison 2018-2019. Il est ouvert à tous les membres de la Fédération, tous groupements confondus.

    <img class="alignnone wp-image-5330 size-medium" src="https://i2.wp.com/www.chanter.ch/wp/wp-content/uploads/2018/09/formation-2018-2019.png?resize=300%2C238" alt="" width="100%" height="" data-recalc-dims="1" />
    </div>