<div class="row text">
    <h3>Travail vocal en chorale</h3>
    Des exercices ludiques de mise en voix, des conseils avisés pour améliorer la fusion au sein du chœur et pour développer une couleur vocale agréable : les spécialistes de la voix dont vous trouvez ci-dessous les coordonnées sont prêts à venir travailler dans votre chorale selon vos besoins, soit dans le courant de la saison musicale, soit à l’approche du concert annuel ou du festival.

    La rémunération horaire recommandée est de Fr 80.- et de Fr 100.- pour les formateurs au bénéfice d’un diplôme professionnel. Sur présentation de la facture, la Fédération alloue à ses sociétés membres un subside correspondant au 20 % du coût de la formation (maximum de 200 francs).
    </div>