<div class="row">
    <div class="row border">
        {{#each choeurs}}
            <div class="col-sm-3"><h4>{{this.choirName}}</h4></div>
            <div class="col-sm-3"><h4>{{this.Locality.localityName}}</h4></div>
            <div class="col-sm-3"><h4>{{this.choir.person}}</h4></div>
            <div class="col-sm-3"><h4>{{this.website}}</h4></div>
        {{/each}}
    </div>





</div>


