
    <div class="row">
        <div class="row">
            {{#each news}}
                <div class="col-sm-3"><h3>{{this.titre}}</h3><p>{{this.descr}}</p></div>
            {{/each}}
        </div>
    </div>
