<div class="col-md-8">
    <div class="form-area">
        <form action="/service/contacts" method="post" id="contact_form">
            <br style="clear:both">
            <h3 style="margin-bottom: 25px; text-align: left;">Contact</h3>
            <div class="form-group">

                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required="true">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
            <select id="selectFR" required="true" class="form-control" name="categorie">
                <option selected disabled>Catégorie...</option>
                {{#each category}}
                    <option id="{{this.id}}">{{this.categoryFR}}</option>
                {{/each}}
            </select>
            </div>
            <div class="form-group">
                <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
            </div>

            <button type="submit" name="submit" class="btn btn-primary pull-right">Envoyer</button>
        </form>
    </div>
</div>


<div class="modal fade" id="logoutModal" tabindex="100" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{langs.emailSend}}</h5>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="/">Ok</a>
            </div>
        </div>
    </div>
</div>


<!-- Custom styles for this template-->
<link href="/stylesheets/sb-admin.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script defer>

    $(document).ready(function(){
        $('#characterLeft').text('140 characters left');
        $('#message').keydown(function () {
            var max = 140;
            var len = $(this).val().length;
            if (len >= max) {
                $('#characterLeft').text('You have reached the limit');
                $('#characterLeft').addClass('red');
                $('#btnSubmit').addClass('disabled');
            }
            else {
                var ch = max - len;
                $('#characterLeft').text(ch + ' characters left');
                $('#btnSubmit').removeClass('disabled');
                $('#characterLeft').removeClass('red');
            }
        });
    });

     $("#logoutModal").dialog({autoOpen: false,  height: 590, width: 1005, open: function(event, ui) {
             $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
         }});


    $("#contact_form").submit(function(event){
        event.preventDefault(); //prevent default action
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission

        $.ajax({
            url : post_url,
            type: 'POST',
            data : form_data
        }).done(function(response){ //
             $("#logoutModal").dialog("open");

        });
    });



</script>
