
<div class="row text">
    <h3>Chefs disponibles pour un dépannage</h3>
    <ul><li>
        Anne Monique Corminboeuf, Sion, 027/ 323.14.18</li>
        <li>Marie Vouilloz, Fully, 027/ 746.39.18v
        <li>Claude Lamon, Flanthey, 027/ 458.17.47 – 079/ 421.00.91</li>
        <li>Michel Roulin, 1890 St-Maurice , Tél. 079/366.59.45 – E-mail</li>
        <li>Patricia Montangero, tous les soirs, 079 946 87 55, E-mail</li>
        <li>Romuald Abbet, Sierre, 076/343.24.53 E-mail</li></ul>
</div>