<h1>{{langs.comite}}</h1>





<span id="id4917"  tabindex="" title="&nbsp;Béatrice Albasini<br />"    >&nbsp; Name Name<br /></span><div >
    <table border=0>
        <tr>
            <td><img src=http://www.chanter.ch/wp/wp-content/imgsite/imgpers/default.jpg height=150></td>
            <td> Rue de la Poste 10<br />  1926 Fully<br />    Natel: 079/679.75.14<br /> <a>test@test.com</a></td>
        </tr>
    </table>
</div>