<div class="row">
    <img src="/images/carte_valais.gif">

</div>
    <div class="row border">
            <h4>Groupement des Sociétés de Chant du Bas-Valais (GSCBV)  </h4>
    </div>
        <div class="row border">
            <h4> Union Chorale du Centre (UCC) </h4>
        </div>
            <div class="row border">
                <h4>Groupement des Chanteurs du Valais Central  (GCVC) </h4>
            </div>
                <div class="row border">
                    <h4> Oberwalliser Chor- und Cäcilien Verband (OCV) </h4>
                </div>
                    <div class="row border" style="border-bottom:solid gray 1px">
                        <h4>Association Valaisanne des chefs de choeurs (AVCC) </h4>
                    </div>
</div>