<div class="row">
    <img src="/images/carte_valais.gif">

</div>

<div class="row">
    {{#each groups}}
    <div class="row border">
            {{{this.groupName}}}
    </div>
    {{/each}}
</div>