<div class="row">
    <div class="col-md-6">
        {{#if bool}}
            <p>{{{presentation.textFR}}}</p>

        {{else}}
            <p>{{{presentation.textDE}}}</p>
        {{/if}}

    </div>
    <div class="col-md-6">

    <img style="width:500px" src="/images/articles/{{presentation.refPicture}}"></div>
</div>
</div>