


<div>

    <div class="row image">
        <h3>Archives 2017</h3>
        <img class="card-img-top" src="https://i0.wp.com/www.chanter.ch/wp/wp-content/uploads/2018/06/ch2018-affiche.png?zoom=2&amp;resize=574%2C823" alt="" width="300px" height="auto">
        <img class="card-img-top" src="https://i2.wp.com/www.chanter.ch/wp/wp-content/uploads/2017/01/flyerbackprint1.jpg?zoom=2&resize=574%2C813" alt="" width="300px" height="auto">

    </div>
    <div class="row image">
    <h3>Archives 2016</h3>
    <img class="card-img-top" src="https://i0.wp.com/www.chanter.ch/wp/wp-content/uploads/2016/02/ChoeurenHerbe2016.jpg?zoom=2&resize=188%2C266" width="300px" height="auto">
    <img class="card-img-top" src="https://i0.wp.com/www.chanter.ch/wp/wp-content/uploads/2016/02/ChoeurenHerbe2016_verso.jpg?zoom=2&resize=188%2C266" width="300px" height="auto">

    <div class="row image">
        <h3>Archives 2015</h3>
    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/9BDiX4TyrqI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="row image">
    <h3>Archives 2014</h3>
    <img class="card-img-top" src="https://i2.wp.com/www.chanter.ch/wp/wp-content/uploads/2015/07/11224508_10207095962178255_3065604060537611171_o.jpg" height="189" width="280" alt="" width="562" height="789">

    </div>

</div>