
    <div class="row text">

            <p>La Fédération des Sociétés de chant du Valais ainsi que sa commission de musique ont engagé il y a quelques années réflexions et études autour de la relève des chorales valaisannes. Des projets ont été mis sur pied ces dernières années avec succès. Le Frapp’Festival en est un. Né de la volonté de créer une activité chorale pour les jeunes, ce festival se place avant tout sous les signes de la découverte et de la rencontre entre les jeunes chanteurs valaisans.

                La première édition a eu lieu à Chermignon en 2012, la deuxième le 12 mars 2016 à Orsières. Lors de cette dernière édition, 9 chœurs valaisans ont répondu à l’appel de la Commission de musique de la Fédération des Sociétés de Chant du Valais. Un chœur fribourgeois est venu enrichir le panel présent.

                Trois ateliers avec 3 chefs renommés ont été au programme de l’après-midi afin de découvrir des facettes originales de la musique vocale. Le premier avec Stéphane Cosandey (bodypercussion), le deuxième avec Thierry Dagon (musique graphique), et le troisième avec Gonzague Monney (musique vocale).

                Les chœurs présents :
                Ganea, Chermignon, GénérationS, Sierre, Chœur des jeunes de St-Martin, St-Martin, Chœur des jeunes « Flamme », Fully, Chœur des jeunes de St-Guérin, Sion, Chœur des CO, Martigny-Fully-Saxon, L’Annonciade – maîtrise de la Glâne, Romont, Chœur des jeunes du Bouveret, Bouveret, Chœur des jeunes de Bramois, Bramois et Chœur des jeunes de Nendaz, Nendaz

                Le concert final avec tous les chœurs s’est déroulé le soir à la salle polyvalente d’Orsières, avec la présence du groupe valaisan Wanted’s en deuxième partie.</p>

    </div>
